<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <h1>See your Expenses</h1>
    
    <table class="table table-hover">
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Time</th>
        <% treats.forEach(treat=> { %>
            <tr>
                <td>
                    <%= treat.item %>
                </td>
                <td>
                    <%= treat.amount %>
                </td>
                <td>
                    <%= treat.date?.toLocaleDateString() %>
                </td>
                <td>
                    <%= treat.date?.toLocaleTimeString() %>
                </td>
                <td>
                    <form action="/treats/<%= treat._id %>?_method=PUT" method="POST">
                        <a href="/treats/<%= treat._id %>/edit">Edit</a>
                    </form>
                    <form action="/treats/<%= treat._id %>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>
    <br>
    <br>
    <a href="/treats/new">
        <button>Add New Expense</button>
    </a>
</body>

</html>